pydantic==1.10.11
newspaper3k
openai
fastapi
firebase-admin
pandas
httpx
transformers
google-search-results
python-dotenv
uvicorn
websockets
sentence-transformers
houndify
pytest
PyPDF2
python-multipart
pinecone-client
langchain==0.0.268
tiktoken
requests
accelerate 
safetensors 
diffusers